body{padding: 0%;
margin: 0%;
font-family: 'Roboto', sans-serif;
}
.first{margin: 2%;
    display: flex;}
 .container-one{padding-left: 5%;
}
.heading{
    margin-top: 30%;
    font-size: 60px;
}
.orange{
    color: rgb(255, 174, 0);
}
.linking{
    background-image: linear-gradient(orange,red);width: 150px;
   padding:17px;
    margin: 3%;
    text-align: center;
    border-radius: 30px;
    font-size:medium;
    font-weight: 600;
 
}
a{text-decoration: none;
    color: white;   
}
.second{margin: 1px;
display: flex;
background-image:url(images/shapes/7.png) ;
background-repeat: no-repeat;
text-align:left;}
.container-two{padding: 10%;
}
#image-one{width:100%;}
#image-two{width: 95%;}
#writtings{text-align: center;}
h1{font-size: 35px;}
.using-height{text-align:left;
line-height: 30px;}
.my-recipies{text-align: center;}
.third{display: flex;
padding: 5%;
}
.recipies{ border-radius: 8%;
border: 5px light ;
padding: 20px;
margin: 30px;
box-shadow:1px 1px 40px rgba(128, 128, 128, 0.322);
}
.recipies-image{width: 300px;
border-radius: 5%;}
.forth{display: flex;
border: 5px light;
padding: 1%;
margin: 15%;
width: 75%;
box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.5);
border-radius: 20px;
}
.container-like{margin: 10px;
padding-left: 15%;}
footer{border: 5px solid;
    padding: 5%;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.986);
    text-align: center;
}
#network{color:gray}
