body{padding: 0%;
margin: 0%;
font-family: 'Roboto', sans-serif;

}
section{margin: 2%;
    display: flex;}
 .container-one{padding-left: 5%;
}
.heading{
    margin-top: 30%;
    font-size: 60px;
}
.orange{
    color: rgb(255, 174, 0);
}
.linking{
    background-image: linear-gradient(orange,red);width: 150px;
   padding:3%;
    margin: 3%;
    text-align: center;
    border-radius: 30px;
    font-size:medium;
    font-weight: 600;
}

a{text-decoration: none;
    color: white;
     
}
div img{width: 100%;}

